.maintitel1 {
    text-align: center;
}


.maintitel2 {
    text-align: center;
}

.maintitel3 {
    text-align: center;
}

.maintitel4 {
    text-align: center;
}

.Glodebutikkenskrift1 {
    text-align: center;
    font-size: 22px; /* You can adjust the size as needed */
}

.textsetting1{
    text-align: center;
}

.textsetting2 {
    text-align: center;
}

.mainimage1 {
  display: block;
  margin: 0 auto;
  margin-left: 20px; /* Adjust the value as needed */
}

.vårtmålsetting1 {
    text-align: center;
}
.belowtexts{
    text-align: center;
    font-size: 15px; /* You can adjust the size as needed */
}
.textsetting2 {
    text-align: center;
}
.textsetting2 {
    text-align: center;
}
